<h2>Your friends:</h2>
<% current_user.friends.each do |friend| %>
	<p><%= link_to gravatar_for(friend), user_posts_path(friend) %>
		<%= link_to friend.email, user_posts_path(friend.id) %> |
		<%= link_to 'Delete Friend', friend_path(friend), method: "delete" %></p>

<% end %>
