<h2>Your friends:</h2>
<% current_user.friends.each do |friend| %>
	<p><%= image_tag gravatar_url(friend.email, 25), alt: "" %>
		<%= link_to friend.email, user_posts_path(friend.id) %> |
		<%= link_to 'Delete Friend', friend_path(friend), method: "delete" %></p>

<% end %>
